.detail {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #ccc;
    padding: 24px 0;
}
.detail ul {
    list-style: none;
    width: 80%;
    margin: 0 auto;
}
.detail ul li {
    line-height: 2;
    border-top: 1px dotted #ccc;
    padding: 12px 0;
}
.detail ul li:first-child {
    border-top: none;
}
.fontColorRed {
    color: red;
}
.detail img {
    width: 100%;
}