* {
    box-sizing: border-box;
    padding: 0;
}
body {
    margin: 0;
    padding: 10px;
    background-color: #eff3f7;
    height: 100%;
}
a {
    text-decoration: none;
    color: inherit;
}